<div class="mx-auto">
  <.live_component module={Components.Metadata} id="metadata" file={@file} title="Channels" />
  <.live_component module={Components.Channels} id="channels" file={@file} />
</div>
